.profile {
    margin: 0;
    padding: 0;
    width: 100%;
    display: flex;
    justify-content: center;
}

.profile__form {
    width: 100%;
    height: 100%;
}

.profile__title {
    margin: 0;
    padding: 0;
    font-family: 'Inter', Arial, Helvetica, sans-serif;;
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 29px;
    text-align: center;
    color: #FFFFFF;
    padding-top: 74px;
    padding-bottom: 123px;
}

.profile__fieldset {
    border: none;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.profile__label {
    display: flex;
    flex-direction: row;
    width: 410px;
    justify-content: space-between;
    position: relative;
}

.profile__field {
    margin: 0;
    padding: 0;
    font-family: 'Inter', Arial, Helvetica, sans-serif;;
    font-style: normal;
    font-weight: 500;
    font-size: 11px;
    line-height: 13px;
    color: #FFFFFF;
}

.profile__input {
    margin: 0;
    padding: 0;
    border: transparent;
    background-color: transparent;
    font-family: 'Inter', Arial, Helvetica, sans-serif;;
    font-style: normal;
    font-weight: 400;
    font-size: 11px;
    line-height: 13px;
    text-align: right;
    color: #FFFFFF;
}

.profile__border{
    width: 410px;
    margin: 16px 0 17px;
    border: 1px solid #424242;;
}

.profile__btn-container {
    padding-top: 210px;
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.profile__btn {
    background-color: transparent;
    border: 0;
    font-family: 'Inter', Arial, Helvetica, sans-serif;;
    font-style: normal;
    font-size: 13px;
    line-height: 16px;
    display: flex;
    align-items: center;
    text-align: center;
    cursor: pointer;
}

.profile__btn_edit {
    font-weight: 400;
    color: #FFFFFF;
}
.profile__btn_disabled {
    color: #343333;;
    cursor: not-allowed; 
}
.profile__btn_disabled:hover {
    opacity: 1;
    
}
.profile__btn_exit {
    font-weight: 500;
    color: #EE3465;
    padding-bottom: 93px;
}
.profile__input-error {
    color: #EE3465;
}

.profile__field-error {
    margin: 0;
    padding: 0;
    position: absolute;
    font-family: 'Inter', Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 10px;
    line-height: 12px;
    color: #EE3465;
}
.profile__field-error_name{
    top: -20px;
    left: 0;
}

.profile__field-error_email{
    top: 20px;
    left: 0;
}
@media screen and (max-width: 768px) {
    .profile__title {
        padding-top: 236px;
        padding-bottom: 96px;
    }
    .profile__btn_exit {
        padding-bottom: 269px;
    }
}

@media screen and (max-width: 460px) {
    .profile__label {
        width: 260px;
    }
    .profile__border{
        width: 260px;
    }
    .profile__title {
        padding-top: 70px;
        padding-bottom: 80px;
    }
    .profile__btn-container {
        padding-top: 379px;
    }
    .profile__btn_exit {
        padding-bottom: 40px;
    }
}
