.aboutp {
    margin: 0;
    padding: 0;
    padding: 110px 70px 0;
}

.aboutp__title {
    margin: 0;
    padding: 0;
    font-family: 'Inter', Arial, Helvetica, sans-serif;;
    font-style: normal;
    font-weight: 400;
    font-size: 22px;
    line-height: 27px;
    letter-spacing: -0.04em;
    color: #FFFFFF;

    height: 50px;
    border-bottom: 1px solid #DADADA;
}

.aboutp__columns {
    padding-top: 70px;
    padding-bottom: 110px;
    display: flex;
    gap: 40px;
}

.aboutp__column {
    width: 50%;
}

.aboutp__column-title {
    margin: 0;
    padding: 0;
    font-family: 'Inter', Arial, Helvetica, sans-serif;;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    letter-spacing: -0.04em;
    color: #FFFFFF;
    padding-bottom: 26px;
}

.aboutp__column-subtitle {
    margin: 0;
    padding: 0;
    font-family: 'Inter', Arial, Helvetica, sans-serif;;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    color: #FFFFFF;
}

.progress-bar {

}

.progress-bar__scales {
    display: grid;
    grid-template-columns: 1fr 4fr;
}

.progress-bar__descriptions{
    display: grid;
    grid-template-columns: 1fr 4fr;
}
.progress-bar__scale {
    height: 36px;
    font-family: 'Inter', Arial, Helvetica, sans-serif;;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}
.progress-bar__scale_green {
    background: #3DDC84;
    color: #000000;
}
.progress-bar__scale_grey {
    background: #303030;
    color: #FFFFFF;
}
.progress-bar__description {
    margin: 0;
    padding: 0;
    padding-top: 14px;
    font-family: 'Inter', Arial, Helvetica, sans-serif;;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    text-align: center;
    color: #8B8B8B;
    padding-bottom: 110px;
}

@media screen and (max-width: 768px) { 
    .aboutp {
        padding: 90px 50px 0;
    }
    .aboutp__columns {
        padding-bottom: 93px;
        gap: 30px;
    }
    .aboutp__column-title {
        padding-bottom: 22px;
    }
    .aboutp__column-subtitle {
        line-height: 18px;
    }
    .progress-bar__description{
        font-family: 'Suisse Intl', Arial, Helvetica, sans-serif;;
        font-weight: 400;
        padding-bottom: 90px;
    }
        
}

@media screen and (max-width: 450px) {
    .aboutp {
        padding: 70px 18px 0;
    }
    .aboutp__title {
        font-size: 18px;
        line-height: 22px;
    }
    .aboutp__columns {
        padding-top: 60px;
        padding-bottom: 60px;
        gap: 56px;
        flex-direction: column;
    }
    .aboutp__column {
        width: 100%;
    }
    .aboutp__column-title {
        font-size: 18px;
        line-height: 22px;
        padding-bottom: 16px;
    }
    .aboutp__column-subtitle {
        font-size: 11px;
        line-height: 16px;
    }
    .progress-bar__scales {
        grid-template-columns: 100px 4fr;
    }
    .progress-bar__descriptions {
        grid-template-columns: 100px 4fr;
    }
    .progress-bar__scale {
        height: 35px;
        font-size: 11px;
        line-height: 13px;
    }
    .progress-bar__description {
        padding-top: 10px;
        font-size: 14px;
        line-height: 17px;
        padding-bottom: 70px;
    }
}
