.button {
  background: #303030;
  border-radius: 10px;
  width: 96px;
  height: 36px;
  border: transparent;
  white-space: nowrap;
}

.button__text {
  font-family: 'Inter', Arial, Helvetica, sans-serif;
  ;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
  display: flex;
  align-items: center;
  color: #FFFFFF;
  text-decoration: none;
  justify-content: center;
}

@media screen and (max-width: 500px) {
  .button {
    width: 82px;
    height: 26px;
  }

  .button__text {
    font-size: 10px;
  }
}