.register {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    width: 396px;
}

.register__logo {
    padding: 70px 0 40px;
}

.register__form {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.register__title {
    margin: 0;
    padding: 0;
    padding-bottom: 40px;
    font-family: 'Inter', Arial, Helvetica, sans-serif;;
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 29px;
    color: #FFFFFF;
}

.register__fieldset {
    border: 0;
    padding: 0;
    width: 100%;
    display: flex;
    gap: 31px;
    flex-direction: column;
}

.register__label {
    display: flex;
    flex-direction: column;
    position: relative;
}

.register__field {
    margin: 0;
    padding: 0;
    font-family: 'Inter', Arial, Helvetica, sans-serif;;
    font-style: normal;
    font-weight: 400;
    font-size: 10px;
    line-height: 12px;
    color: #8B8B8B;
    padding-bottom: 10px;
}

.register__input {
    margin: 0;
    padding: 0;
    background: #2F2F2F;
    border-radius: 8px;
    border: transparent;
    height: 46px;
    padding-left: 15px;
    font-family: 'Inter', Arial, Helvetica, sans-serif;;
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 16px;
    color: #FFFFFF;  
}

.register__input-error {
    color: #EE3465;
}

.register__field-error {
    margin: 0;
    padding: 0;
    position: absolute;
    font-family: 'Inter', Arial, Helvetica, sans-serif;;
    font-style: normal;
    font-weight: 400;
    font-size: 10px;
    line-height: 12px;
    color: #EE3465;
}

.register__field-error_active {
    top: 72px;
    left: 0;
}

.register__input_disabled {
    animation: fade 2s ease forwards;
}
@keyframes fade {
  from {
    opacity: 1;
    visibility: visible;
  }
  to {
    opacity: 0;
    visibility: hidden;
  }
}

.register__btn-container {
    padding-top: 69px;
    display: flex;
    flex-direction: column;
    align-self: center;
    width: 100%;

}

.register__btn {
    margin: 0;
    padding: 0;
    border: transparent;
    background: #4285F4;
    border-radius: 3px;
    width: 100%;
    min-height: 45px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    font-family: 'Inter', Arial, Helvetica, sans-serif;;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    text-align: center;
    color: #FFFFFF;
}
.register__btn_disabled {
    color: #343333;;
    cursor: not-allowed;
    background: #49638c;
}
.register__btn_disabled:hover {
    opacity: 1; 
}

.register__link-text {
    margin: 0;
    padding: 0;
    padding-top: 16px;
    padding-bottom: 70px;
    font-family: 'Inter', Arial, Helvetica, sans-serif;;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    text-align: center;
    color: #8B8B8B;
}

.register__link {
    margin: 0;
    padding: 0;
    padding-left: 6px;
    font-family: 'Inter', Arial, Helvetica, sans-serif;;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    text-align: center;
    color: #4285F4;
    text-decoration: none;
}

@media screen and (max-width: 768px) { 
    .register__logo {
        padding: 232px 0 40px;
    }
}

@media screen and (max-width: 450px) {
    .register {
        max-width: 260px;
    }   
    .register__form {
        align-items: center;
    }
    .register__logo {
        padding: 58px 0 50px;
    }
    .register__title {
        padding-bottom: 80px;
    }
}
