.search-form {
    margin: 0;
    padding: 0;
    padding: 70px 70px 0;
}

.search-form__form {
    width: 100%;
    border: none;
}

.search-form__field {
    border: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-between;
    height: 47px;
    border-bottom: 1px solid #424242;
    align-items: center;
}

.search-form__input {
    margin: 0;
    padding: 0;
    border: none;
    background-color: transparent;
    font-family: 'Inter', Arial, Helvetica, sans-serif;;
    font-style: normal;
    font-weight: 500;
    font-size: 28px;
    line-height: 34px;
    color: #8B8B8B;
    outline: none
}

.search-form__button {
    border: none;
    width: 34px;
    height: 34px;
    background: url(../../../images/Find.svg);
    background-position: right;
    background-repeat: no-repeat;
    background-size: cover;
    cursor: pointer;
}

.search-form__checkbox-container {
    padding-top: 32px;
    padding-bottom: 47px;
    display: flex;
}

.search-form__checkbox {
    cursor: pointer;
    display: none;
}

.search-form__checkbox-label {
    padding: 0;
    margin: 0;      
    position: relative;
    display: inline-block;
    width: 36px;
    height: 20px;
    border-radius: 20px;
    background-color: #f0cccc;
    cursor: pointer;
}

.search-form__checkbox-label::before {
    width: 16px;
    height: 16px;
    position: absolute;
    top: 10%;
    left: 5%;
    border-radius: 50%;
    content: '';
    background-color: #FFFFFF;
    transition: .3s;
}
.search-form__checkbox:checked + .search-form__checkbox-label {
    background: #3DDC84;
}

.search-form__checkbox:checked + .search-form__checkbox-label::before {
    transform: translate(100%);
}

.search-form__text {
    margin: 0;
    padding: 0;
    font-family: 'Inter', Arial, Helvetica, sans-serif;;
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 18px;
    color: #FFFFFF;
    padding-left: 14px;
}

@media screen and (max-width: 768px) { 
    .search-form {
        padding: 80px 30px 0;
    }
    .search-form__checkbox-container {
        padding-top: 29px;
        padding-bottom: 60px;
        flex-direction: row-reverse;
    }
    .search-form__text {
        padding-left: 0;
        padding-right: 16px;
    }
}

@media screen and (max-width: 520px) {
    .search-form {
        padding: 89px 14px 0;
    }
    .search-form__field {
        height: 37px;
    }
    .search-form__input {
        font-size: 18px;
        line-height: 22px;
        max-width: 200px;
    }
    .search-form__checkbox-container {
        padding-top: 40px;
        padding-bottom: 50px;
        justify-content: center;
    }
    .search-form__text {
        padding-right: 13px;
        font-size: 18px;
    }
}
