.about-me {
    margin: 0;
    padding: 0;
    padding: 110px 70px 0;
}

.about-me__title {
    margin: 0;
    padding: 0;
    font-family: 'Inter', Arial, Helvetica, sans-serif;;
    font-style: normal;
    font-weight: 400;
    font-size: 22px;
    line-height: 27px;
    letter-spacing: -0.04em;
    color: #FFFFFF;

    height: 50px;
    border-bottom: 1px solid #DADADA;
}

.about-me__container {
    padding: 66px 0 110px;
    display: flex;
    justify-content: space-between;
}

.about-me__info {
    max-width: 600px;
}

.about-me__name {
    margin: 0;
    padding: 0;
    font-family: 'Inter', Arial, Helvetica, sans-serif;;
    font-style: normal;
    font-weight: 400;
    font-size: 50px;
    line-height: 58px;
    letter-spacing: -0.04em;
    color: #FFFFFF;

    padding-bottom: 18px;
}

.about-me__profession {
    margin: 0;
    padding: 0;
    font-family: 'Inter', Arial, Helvetica, sans-serif;;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 20px;
    color: #FFFFFF;
    mix-blend-mode: normal;

    padding-bottom: 26px;
}

.about-me__description {
    margin: 0;
    padding: 0;
    font-family: 'Inter', Arial, Helvetica, sans-serif;;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 22px;
    color: #FFFFFF;
    mix-blend-mode: normal;

    padding-bottom: 100px;
    max-height: 88px;
    overflow: hidden;
    padding-right: 20px;
}

.about-me__link {
    font-family: 'Inter', Arial, Helvetica, sans-serif;;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    color: #FFFFFF;
    text-decoration: none;

}


.about-me__image {
    width: 270px;
    height: 327px;
    background-image: url('../../../images/MyFoto.jpg');
    background-position: right;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 10px;
}
@media screen and (max-width: 768px) { 
    .about-me {
        padding: 90px 50px 0;
    }
    .about-me__container {
        padding-bottom: 90px;
    }
    .about-me__info {
        max-width: 364px;
    }
    .about-me__name {
        font-size: 40px;
        line-height: 40px;

        padding-bottom: 16px;
    }
    .about-me__profession {
        font-size: 12px;
        line-height: 18px;

        padding-bottom: 20px;
    }
    .about-me__description {
        font-size: 12px;
        line-height: 18px;

        padding-bottom: 87px;
        max-height: 108px;
    }
    .about-me__image {
        width: 255px;
        height: 307px;
    }
}

@media screen and (max-width: 600px) {
    .about-me {
        padding: 70px 14px 0;
    }
    .about-me__title {
        font-size: 18px;
        line-height: 22px;
    }
    .about-me__container {
        padding: 60px 0 70px;
        flex-direction: column-reverse;
        align-items: center;
    }
    .about-me__info {
        max-width: 292px;
    }
    .about-me__name {
        font-size: 30px;
        line-height: 36px;

        padding-bottom: 20px;
    }
    .about-me__profession {
        font-size: 11px;
        line-height: 16px;
    }
    .about-me__description {
        font-size: 11px;
        line-height: 16px;

        padding-bottom: 40px;
        max-height: 112px;
        padding-right: 0;
    }
    .about-me__image-container {
        padding-bottom: 40px;
    }
    .about-me__image {
        width: 292px;
        height: 352px;
    }
}
