.error-page {
    margin: 0;
    padding: 0;
    width: 100vw;
    height: 100vh;
    background-image: url(../../images/ErrorPage-min.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column-reverse;
}

.error-page__link {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    text-align: center;
    color: #4285F4;
    text-decoration: none;
    cursor: pointer;
    padding-bottom: 60px;
}
