.error-page {
    margin: 0;
    padding: 0;
    width: 100vw;
    height: 100vh;
    background-image: url(../../images/ErrorPage-min.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column-reverse;
}

.error-page__btn {
    font-family: 'Inter', Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    line-height: 17px;
    text-align: center;
    color: #31be54;
    text-decoration: none;
    cursor: pointer;
    background-color: rgba(43, 10, 10, 0.248);
    background-position: center;
    border: transparent;
    text-transform: uppercase;
    animation: blur .6s ease-in-out infinite;
    width: fit-content;
    align-self: center;
    margin-bottom: 60px;
    height: 40px;
    border: 1px inset rgba(49, 190, 84, .1);
    border-radius: 20px;
}
.error-page__btn:hover {
    border: 2px inset rgba(49, 190, 84);
    background-color: rgb(43, 10, 10);
    transition: ease-in-out .1s;
}

@keyframes blur {
    from {
        text-shadow:0px 0px 10px rgb(177, 56, 56),
        0px 0px 10px rgb(177, 56, 56), 
        0px 0px 15px rgb(177, 56, 56),
        0px 0px 25px rgb(177, 56, 56),
        0px 0px 25px #7B96B8,
        0px 5px 25px #7B96B8;
    }
}